.btn-primary{
    border: none;
    outline: none;
}

.outline-0 {
    outline: none !important;
}

.border-0 {
    border: none !important;
}
.text-white {
    color: #fff !important;
}

.m-0{
    margin: 0px !important;
}